<div class="cases">
	<h1>Your Cases</h1>

	<ul id="filters" class="nav nav-pills">

		<% @filters.each do |_filter| %>
			<% active = params[:filter_id].try(:to_i) == _filter.id ? "active" : '' %>
			<li class="filter-<%= _filter.id %> <%= active %>">
				<%= link_to _filter.name, cases_path(:filter_id => _filter.id) %></a>
			</li>
		<% end %>
	</ul>

	<ul id="cases" class="list-group">
		<% @cases.each do |_case| %>
			<% subject = _case.subject.blank? ? "(no subject)" : _case.subject %>
			<li class="case-<%= _case.id %> list-group-item">
				<%= link_to subject, edit_case_path(_case.id) %></a>
				<% if _case.labels %>
					<ul class="labels">
						<% _case.labels.each do |label| %>
							<li class="label label-default"><%= label %></li>
						<% end %>
					</ul>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>